/* Custom CSS goes here */
body {
  padding-bottom: 70px;
  background-color: orange;
  color: black;
  margin: 10px;
    font-size: 20px;
  

}
table{
  background-color: white;
  margin-top: 10px;
  font-size: 15px;
  
}


