body {
    padding-bottom: 70px;
    background-color: orange;
    color: black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin: 10px;
    font-size: 20px;
  
  }
  h1{
    font-size: 50px;
  }
  p{
    font-size: 25px ;
  }
  img{
    margin-top: 20px;
    width: 200px;
    border-radius: 8px;
  }
  .titlename{
    color: wheat;
  }